* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html {
    background-color: black;
    text-align: center;
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}
a p {
    color: aquamarine;
    font-size: 16px;
}

a p:hover {
    color: blue;  
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px;
    color: white;
}

.hook {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color: gray;
}

#copyright_tag {
    text-align: right;
    color: gray;   
}

#surprise {
    font-size: 200px;
}

#surprise:hover {
    color: pink;
}